<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://github.com/Edsol/go2rtc-tizen" version="0.1.0" viewmodes="maximized">
  <tizen:application id="G2rtcView0.go2rtc" package="G2rtcView0" required_version="3.0"/>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
  <icon src="icon.png"/>
  <name>go2rtc</name>
  <access origin="*" subdomains="true"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:profile name="tv-samsung"/>
  <tizen:setting screen-orientation="landscape" context-menu="disable"
                 background-support="disable" encryption="disable" install-location="auto"
                 hwkey-event="enable"/>
  <tizen:allow-navigation>*</tizen:allow-navigation>
  <tizen:content-security-policy>default-src * 'unsafe-inline' data: blob: ws: wss:</tizen:content-security-policy>
</widget>
